
 body{
	font-family: "Comic Sans MS", "Comic Sans", cursive; /* no .ttf */
}


h3{ width: 150px;
    border: 0px groove green;
    padding: 20px;
	margin: 0px;

	-moz-box-shadow: inset 0 0 50px #A2BCDD;
	-webkit-box-shadow:  inset 0 0 50px #A2BCDD;
	box-shadow:  inset 0 0 50px #A2BCDD;
	



}

p { width: 170px;
border: 0px groove blue;
padding:0 px;
margin: 0px;


}

body{ background-color: blue;
background-size:cover;
background-repeat: no-repeat;


}

div{
    position: absolute;
    left: 500px;
    top: 300px;
	-moz-box-shadow: 2px 2px 2px 2px #777777;
	-webkit-box-shadow:  2px 2px 2px 2px #777777;
	box-shadow:  2px 2px 2px 2px #777777;
}


#seconddiv{
    position: absolute;
    left: 700px;
    top: 300px;
}


#thirddiv{
    position: absolute;
    left: 900px;
    top: 300px;
} 
