@font-face {
	font-family: runescape;
	src: url (runescape_uf.tff), format(truetype);
	font-weight:normal;
	font-style:normal;
}



 body{
	font-family: runescape; /* no .ttf */
}


h3{ width: 150px;
    border: 5px groove green;
    padding: 20px;

margin: 0px;}

p { width: 170px;
border: 0px groove blue;
padding:0 px;
margin: 0px;

}

body{ background-color: blue;
background-size:cover;
background-repeat: no-repeat;


}

div{
    position: absolute;
    left: 500px;
    top: 300px;
	-moz-box-shadow: 2px 2px 2px 2px #777777;
	-webkit-box-shadow:  2px 2px 2px 2px #777777;
	box-shadow:  2px 2px 2px 2px #777777;
}


#seconddiv{
    position: absolute;
    left: 700px;
    top: 300px;
}


#thirddiv{
    position: absolute;
    left: 900px;
    top: 300px;
} 


